app = "skillboost-backend"
primary_region = "gru"

[env]
PORT = "3000"
SUPABASE_URL = "https://seu-project-ref.supabase.co"

[[services]]
internal_port = 3000
protocol = "tcp"

[[services.ports]]
handlers = ["http"]
port = 80

[[services.ports]]
handlers = ["tls"]
port = 443

[services.concurrency]
hard_limit = 25
soft_limit = 20